<div class="panel panel-default">
    <div class="w-100">
        <div>
            <div class="clearfix"></div>
            <div class="panel-heading">
                Articles
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>parent id</th>
                            <th>parent name</th>
                            <th>manage</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr id="tr_category_{{ category.id }}">
                                <td>{{category.id}}</td>
                                <td>{{category.name}}</td>
                                <td>{% if category.parent_id %}{{category.parent_id}}{% else %}NULL{% endif %}</td>
                                <td>{% if category.parent_name %}{{category.parent_name}}{% else %}NULL{% endif %}</td>
                                <td><a href={{'/articles/edit/' ~ article.id}}><button type="button">Edit</button></a><a id="delete_article_{{ article.id }}" href="/articles/delete/{{ article.id }}"><button type="button">Delete</button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
