{% extends "base.html.twig" %}
{% block head %}
    <title> {{article.title}} </title>
    <link href="/css/articles.css" rel="stylesheet">
{% endblock %}

{% block section %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ article.title }}</h1>

            <!-- Date/Time -->
            <p>Posted on {{ article.creation_date }}, by {{ article.author }}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded w-100" src={{article.path_image}} alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">{{ article.content }} </p>
            <hr>

            <!-- AJOUTER IF LOGGED -->
            <!-- AJOUTER IF LOGGED -->
            <!-- AJOUTER IF LOGGED -->
            <!-- AJOUTER IF LOGGED -->
            <!-- AJOUTER IF LOGGED -->
            <!-- AJOUTER IF LOGGED -->
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="post" action = {{ '/articles/' ~ article.id}}>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name='content'></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            {% for comment in comments %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{comment.author}}</h5>
                    {{comment.content}}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}